@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Verdana, sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
header section {
  margin: auto;
}
header nav {
  margin-top: 10px;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #B29784;
}
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: wheat;
}
header nav a:hover {
  background-color: gray;
}
header nav .active {
  background-color: gray;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
main[class=index] {
  text-align: center;
}
main[class=index] article {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-size: 20px;
}
main[class=index] article h4 {
  width: 40%;
}
main[class=index] article img {
  width: 60%;
  border-radius: 40px;
  box-shadow: 8px 8px 12px #aaa;
}
main[class=vehiculesDispo] {
  text-align: center;
}
main[class=vehiculesDispo] div {
  padding-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main[class=vehiculesDispo] div section {
  position: relative;
  width: 455px;
  height: 318px;
  cursor: pointer;
}
main[class=vehiculesDispo] div section img {
  width: 100%;
}
main[class=vehiculesDispo] div section div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  background-color: white;
  opacity: 0.7;
  padding: 5px 5px 5px 5px;
}
main[class=vehiculesDispo] div section:hover div {
  display: initial;
}
main[class=contact] input {
  outline: none;
  border: none;
}
main[class=contact] textarea {
  outline: none;
  border: none;
}
main[class=contact] textarea:focus, main[class=contact] input:focus {
  border-color: transparent !important;
}
main[class=contact] button {
  outline: none !important;
  border: none;
  background: transparent;
}
main[class=contact] button:hover {
  cursor: pointer;
}
main[class=contact] .contact-form {
  width: 500px;
}
main[class=contact] .contact-form-title {
  display: block;
  font-size: 34px;
  color: #2c3e50;
  line-height: 1.2;
  text-align: center;
}
main[class=contact] .wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
main[class=contact] .input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}
main[class=contact] input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 50px;
}
main[class=contact] input.input100[name=email] {
  padding: 0 30px 0 54px;
}
main[class=contact] textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}
main[class=contact] .focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #e67e22;
}
main[class=contact] .input100:focus + .focus-input100 {
  animation: anim-shadow 1s ease-in-out forwards;
}
main[class=contact] .container-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
main[class=contact] .contact-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #846add;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 1s;
}
main[class=contact] .contact-form-btn:hover {
  background: #333333;
}
main[class=contact] label {
  width: 25px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 13px;
}
main[class=contact] label img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
footer div a {
  margin-left: 10px;
  text-decoration: none;
  color: wheat;
}

/*# sourceMappingURL=style.css.map */
