@import "color";
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: $background;
  font-family:  Verdana , sans-serif;
}



header {
  width:100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  section {
    margin: auto;
    img {
      border-radius: 50%;
    }
  }
  nav {
    margin-top: 10px;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: $backgroundNav;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      text-decoration: none;
      color: wheat;
      &:hover {
        background-color: $backgroundNavHover;
      }
    }
    .active {
      background-color: $backgroundNavHover;
    }

  }
}


main {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  height: auto;
  background-color: $backgroundMain;
  padding: 10px;
  border-radius: 20px;

  &[class = 'index'] {
    text-align: center;
    article {
      margin-top: 30px;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: left;
      font-size: 20px;

      h4 {
        width: 40%;
      }
      img {
        border-radius: 40px;
        box-shadow: 8px 8px 12px #aaa;
      }
    }
  }

  &[class = 'vehiculesDispo'] {
    text-align: center;
    div {
      padding-top: 20px;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      section {
        position: relative;
        width: 455px;
        height: 318px;
        cursor: pointer;
        img {
          width: 100%;
        }

        div {
          width: 100%;
          height: auto;
          position: absolute;
          top: 0px;
          left: 0px;
          display: none;
          background-color: white;
          opacity: 0.7;
          padding: 2px 5px 2px 5px;
        }
        &:hover div {
          display: initial;
        }
      }
    }

  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: $backgroundFooter;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  div a{
  margin-left: 10px;
    text-decoration: none;
    color: wheat;
  }
}


